<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="BorderColor" value="0, 255, 0" />
        <add key="BackColor" value="40, 40, 40" />
        <add key="ForeColor" value="220, 220, 220" />
        <add key="BorderLeft" value="1" />
        <add key="BorderTop" value="1" />
        <add key="BorderRight" value="79" />
        <add key="BorderBottom" value="35" />
    </appSettings>
</configuration>